Download and clean the dataset. Import the numpy and pandas.

In [1]:
import pandas as pd
import numpy as np

Lets read the data to a pandas data frame

In [2]:
concrete_data = pd.read_csv('https://cocl.us/concrete_data')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

See how many data points we have

In [3]:
concrete_data.shape

(1030, 9)

Check the data set for any null values

In [4]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [5]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

Split the data

In [6]:
concrete_data_columns = concrete_data.columns
predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']]
target = concrete_data['Strength']

In [7]:
predictors.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [8]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

Normalize data

In [9]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [10]:
n_cols = predictors_norm.shape[1]

Import Keras libs

In [11]:
import keras
from keras.models import Sequential
from keras.layers import Dense

Using TensorFlow backend.

Part A
Define the Neaural Network

In [12]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

Split the data set to training and test sets

In [13]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=42)

Train and test the network for 50 epocs

In [14]:
# build the model
model = regression_model()
# fit the model
epochs = 100
model.fit(X_train, y_train, epochs=epochs, verbose=2)

WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/framework/op_def_library.py:263: colocate_with (from tensorflow.python.framework.ops) is deprecated and will be removed in a future version.
Instructions for updating:
Colocations handled automatically by placer.
WARNING:tensorflow:From /opt/conda/envs/Python36/lib/python3.6/site-packages/tensorflow/python/ops/math_ops.py:3066: to_int32 (from tensorflow.python.ops.math_ops) is deprecated and will be removed in a future version.
Instructions for updating:
Use tf.cast instead.
Epoch 1/100
 - 1s - loss: 1586.4044
Epoch 2/100
 - 0s - loss: 1570.8858
Epoch 3/100
 - 0s - loss: 1555.1969
Epoch 4/100
 - 0s - loss: 1539.8031
Epoch 5/100
 - 0s - loss: 1524.1312
Epoch 6/100
 - 0s - loss: 1508.3598
Epoch 7/100
 - 0s - loss: 1492.1777
Epoch 8/100
 - 0s - loss: 1475.6096
Epoch 9/100
 - 0s - loss: 1458.6757
Epoch 10/100
 - 0s - loss: 1441.0949
Epoch 11/100
 - 0s - loss: 1423.0065
Epoch 12/100
 - 0s - loss: 1404.1018
Epoch 13/100
 - 0s - loss: 1384.4639
Epoch 14/100
 - 0s - loss: 1364.1465
Epoch 15/100
 - 0s - loss: 1343.2560
Epoch 16/100
 - 0s - loss: 1321.5122
Epoch 17/100
 - 0s - loss: 1299.1111
Epoch 18/100
 - 0s - loss: 1276.2248
Epoch 19/100
 - 0s - loss: 1252.7309
Epoch 20/100
 - 0s - loss: 1228.5452
Epoch 21/100
 - 0s - loss: 1203.6829
Epoch 22/100
 - 0s - loss: 1178.3849
Epoch 23/100
 - 0s - loss: 1151.5714
Epoch 24/100
 - 0s - loss: 1124.7399
Epoch 25/100
 - 0s - loss: 1096.4374
Epoch 26/100
 - 0s - loss: 1068.1303
Epoch 27/100
 - 0s - loss: 1038.6553
Epoch 28/100
 - 0s - loss: 1008.8460
Epoch 29/100
 - 0s - loss: 978.5342
Epoch 30/100
 - 0s - loss: 947.7418
Epoch 31/100
 - 0s - loss: 917.6690
Epoch 32/100
 - 0s - loss: 886.3283
Epoch 33/100
 - 0s - loss: 856.1003
Epoch 34/100
 - 0s - loss: 825.5631
Epoch 35/100
 - 0s - loss: 796.1869
Epoch 36/100
 - 0s - loss: 766.6889
Epoch 37/100
 - 0s - loss: 738.0485
Epoch 38/100
 - 0s - loss: 709.6225
Epoch 39/100
 - 0s - loss: 682.0734
Epoch 40/100
 - 0s - loss: 655.1462
Epoch 41/100
 - 0s - loss: 628.5485
Epoch 42/100
 - 0s - loss: 603.0036
Epoch 43/100
 - 0s - loss: 577.9009
Epoch 44/100
 - 0s - loss: 553.7090
Epoch 45/100
 - 0s - loss: 529.9156
Epoch 46/100
 - 0s - loss: 507.3950
Epoch 47/100
 - 0s - loss: 485.0026
Epoch 48/100
 - 0s - loss: 463.9496
Epoch 49/100
 - 0s - loss: 443.4795
Epoch 50/100
 - 5s - loss: 423.7963
Epoch 51/100
 - 0s - loss: 404.9133
Epoch 52/100
 - 0s - loss: 386.4447
Epoch 53/100
 - 0s - loss: 369.6518
Epoch 54/100
 - 3s - loss: 352.9363
Epoch 55/100
 - 0s - loss: 337.6338
Epoch 56/100
 - 0s - loss: 323.2551
Epoch 57/100
 - 0s - loss: 309.5686
Epoch 58/100
 - 0s - loss: 297.1404
Epoch 59/100
 - 0s - loss: 285.4847
Epoch 60/100
 - 0s - loss: 274.3715
Epoch 61/100
 - 0s - loss: 264.5007
Epoch 62/100
 - 0s - loss: 255.0717
Epoch 63/100
 - 0s - loss: 246.3906
Epoch 64/100
 - 0s - loss: 238.2560
Epoch 65/100
 - 0s - loss: 230.7949
Epoch 66/100
 - 0s - loss: 223.8027
Epoch 67/100
 - 0s - loss: 217.4280
Epoch 68/100
 - 0s - loss: 211.6238
Epoch 69/100
 - 0s - loss: 206.1574
Epoch 70/100
 - 0s - loss: 201.2719
Epoch 71/100
 - 0s - loss: 196.6967
Epoch 72/100
 - 0s - loss: 192.6087
Epoch 73/100
 - 0s - loss: 188.6841
Epoch 74/100
 - 0s - loss: 185.3246
Epoch 75/100
 - 0s - loss: 182.0697
Epoch 76/100
 - 0s - loss: 179.0072
Epoch 77/100
 - 0s - loss: 176.3731
Epoch 78/100
 - 0s - loss: 173.8187
Epoch 79/100
 - 0s - loss: 171.6574
Epoch 80/100
 - 0s - loss: 169.5508
Epoch 81/100
 - 0s - loss: 167.6722
Epoch 82/100
 - 0s - loss: 165.8621
Epoch 83/100
 - 0s - loss: 164.2879
Epoch 84/100
 - 0s - loss: 162.6833
Epoch 85/100
 - 0s - loss: 161.3761
Epoch 86/100
 - 0s - loss: 160.0162
Epoch 87/100
 - 0s - loss: 158.9131
Epoch 88/100
 - 0s - loss: 157.7743
Epoch 89/100
 - 0s - loss: 156.7244
Epoch 90/100
 - 0s - loss: 155.7370
Epoch 91/100
 - 0s - loss: 154.8087
Epoch 92/100
 - 0s - loss: 153.9912
Epoch 93/100
 - 0s - loss: 153.1931
Epoch 94/100
 - 0s - loss: 152.3131
Epoch 95/100
 - 0s - loss: 151.5334
Epoch 96/100
 - 0s - loss: 150.8505
Epoch 97/100
 - 0s - loss: 150.0762
Epoch 98/100
 - 0s - loss: 149.4395
Epoch 99/100
 - 0s - loss: 148.6334
Epoch 100/100
 - 0s - loss: 147.9608

Evaluate the model for test data

In [15]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

309/309 [==============================] - 3s 11ms/step

148.8839172560806

In [16]:
from sklearn.metrics import mean_squared_error
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

148.88391737886582 0.0

In [17]:
total_mean_squared_errors = 100
epochs = 100
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(predictors_norm, target, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("Below is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors with normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 81.98401819618003
MSE 2: 63.69444174905425
MSE 3: 39.34474789517597
MSE 4: 40.20277254172513
MSE 5: 41.33685332363092
MSE 6: 42.78595665743436
MSE 7: 45.900653900837824
MSE 8: 31.734145414482043
MSE 9: 35.60900985075818
MSE 10: 36.386191000830394
MSE 11: 39.66120976074614
MSE 12: 32.34931349522859
MSE 13: 40.31380087966672
MSE 14: 43.51414047784404
MSE 15: 34.99849100946223
MSE 16: 29.222575659890776
MSE 17: 35.54195639847938
MSE 18: 33.60305930572806
MSE 19: 33.16199987220147
MSE 20: 34.184814304981415
MSE 21: 29.332173356732117
MSE 22: 29.465942055662087
MSE 23: 27.51694228656855
MSE 24: 31.689097395221008
MSE 25: 31.127837048379348
MSE 26: 36.59742798542899
MSE 27: 27.82726021800612
MSE 28: 31.916539892795402
MSE 29: 35.6807948979745
MSE 30: 33.47186877426592
MSE 31: 28.166286838864817
MSE 32: 27.52637703287563
MSE 33: 29.01747353563031
MSE 34: 30.901302078395215
MSE 35: 31.986992425517357
MSE 36: 37.050253223061176
MSE 37: 26.29772431333474
MSE 38: 32.1626951347277
MSE 39: 30.85544163355164
MSE 40: 25.58326721808671
MSE 41: 31.820013361069762
MSE 42: 27.60328378646505
MSE 43: 28.456780035518907
MSE 44: 32.89608312810509
MSE 45: 33.617594314624576
MSE 46: 32.40375553365664
MSE 47: 30.42564266167798
MSE 48: 31.3105380851474
MSE 49: 31.665570336252355
MSE 50: 32.68761303355393
MSE 51: 28.253317348393807
MSE 53: 28.742542155738015
MSE 54: 28.681676401675325
MSE 55: 35.91235041695505
MSE 56: 31.791320152653075
MSE 57: 28.05498898453697
MSE 58: 28.19329430293111
MSE 59: 32.671551176645224
MSE 60: 30.24186492969303
MSE 61: 30.511725255972358
MSE 62: 27.110994548859335
MSE 63: 26.025032210118564
MSE 64: 27.02806325252002
MSE 65: 29.18433155442519
MSE 66: 32.41395612056201
MSE 67: 28.66629013505954
MSE 68: 30.229171938109168
MSE 69: 27.47035113584648
MSE 70: 28.98127028702918
MSE 71: 30.21769097090539
MSE 72: 27.148421815298136
MSE 73: 25.836111179833274
MSE 74: 29.71579273310294
MSE 75: 31.988534032334016
MSE 76: 26.641545224729864
MSE 77: 26.36095181560825
MSE 78: 25.03502998845863
MSE 79: 34.26763486399234
MSE 80: 28.997537174656937
MSE 81: 26.863944970288323
MSE 82: 31.760233993283368
MSE 83: 30.26468901649648
MSE 84: 27.8965023682727
MSE 85: 26.816362905656636
MSE 86: 25.61553698913179
MSE 87: 29.69327971696082
MSE 88: 26.83753969754216
MSE 89: 25.911000921502467
MSE 90: 26.95196698630126
MSE 91: 29.88119635227043
MSE 92: 23.830860730513784
MSE 93: 27.715912939275352
MSE 94: 26.63235602023918
MSE 95: 28.177106135099837
MSE 96: 26.516815728740013
MSE 97: 31.59073066094161
MSE 98: 26.679446365455206
MSE 99: 28.882007438388072
MSE 100: 26.505879516354657


Below is the mean and standard deviation of 100 mean squared errors with normalized data. Total number of epochs for each training is: 100

Mean: 31.720736699731088
Standard Deviation: 7.408439382502514